asgiref==3.7.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
dj-database-url==2.0.0
django-cors-headers==4.1.0
django-filter==23.2
django==4.2.2
djangorestframework-simplejwt==5.2.2
djangorestframework==3.14.0
drf-spectacular==0.26.2
gunicorn==20.1.0
idna==3.4
inflection==0.5.1
jsonschema==4.17.3
psycopg2-binary==2.9.6
pyjwt==2.7.0
pyrsistent==0.19.3
python-dotenv==1.0.0
pytz==2023.3
pyyaml==6.0
requests==2.31.0
setuptools==67.8.0
sqlparse==0.4.4
typing-extensions==4.6.3
tzdata==2023.3
uritemplate==4.1.1
urllib3<2.0
